.nav-bar {
  display: flex;
  background-color: #333;
  padding: 1rem;
  width: 30%;
  margin: 0 auto;
  justify-content: space-around;
  border-radius: 1rem;
}

.nav-bar a:hover {
  background: #f4f4f4;
  color: #333;
}


.content {
  margin-top: 1rem;
  width: 80%;
}
