.content_global {
  display: flex;
  flex-wrap: wrap;
  width : 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 3rem;
}

.tableau_game {
  background: #CEA346;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableau_interface {
  display: flex;
  flex-wrap: wrap;
  width : 80vh;
  position : absolute;
}

.case {
  width: calc(80vh / 8);
  height: calc(80vh / 8);
  border : solid 0.3vh #4A4A4A;
}

.tableau_interactif {
  display: flex;
  flex-wrap: wrap;
  width : 90vh;
  position : relative;
}

.case_interactif {
  width: calc(90vh / 9);
  height: calc(90vh / 9);
  display: flex;
  justify-content: center;
  align-items: center;
  border : solid 0.2vh transparent;
}

.non-interactive-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 60%);
}


