<div>
  <p>c est au joueur
    @if (this.joueur()) {
      blanc
    } @else {
      noir
    }
  </p>
  <div>
    <div>score du joueur noir : {{ scorej2() }}</div>
    <div>score du joueur blanc : {{ scorej1() }}</div>
    <div (click)="passAction()">passer</div>
  </div>
</div>
<div class="content_global">
  <div class="tableau_interface">
    @for (row of tabAffichage(); track $index) {
      @for (case of row; track $index) {
        <div class="case"></div>
      }
    }
  </div>
  <div class="tableau_interactif">
    @for (row of tabInteraction(); track $index; let indexParent = $index) {
      @for (case of row; track $index) {
        @if (case.isClickable) {
          <div (click)="putPion(indexParent, $index)" class="case_interactif">
            @if (case.pion) {
              <app-pion-components [color]="case.pion"/>
            }
          </div>
        } @else {
          <div (contextmenu)="unsetPion($event, indexParent, $index)" class="case_interactif">
            @if (case.pion) {
              <app-pion-components [color]="case.pion"/>
            }
          </div>
        }
      }
    }
  </div>
</div>

