* {
  font-family: "Rage Italic", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 10px;
  overflow: hidden;
}

.btn {
  background-color: #3E9B4F;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition-duration: 0.4s;}
